/* HEADER */
header{
    width: 100%;
    overflow: hidden;
    background: #000000;
    margin-bottom: 20px;   
    margin: auto;   
    position: fixed;
    z-index: 10;
}
header .logo_bd{
    float: right;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
header nav{
    float: left;
    line-height: 100px;
}
header nav a{
    display: inline-block;
    color: #dcefef;
    text-decoration: none;
    padding: 10px 30px;
    line-height: normal;
    font-size: 22px;
    font-weight: lighter;
    -webkit-transition:all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
header nav a:hover{
    background: #dcefef;
    border-radius: 50px;
    color: #5d6262;
}
/* FIN HEADER */




@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--strong-cyan: hsl(171, 66%, 44%);
	--light-blue: hsl(233, 100%, 69%);
	--dark-grayish-blue: hsl(210, 10%, 33%);
	--grayish-blue: hsl(201, 11%, 66%);
}

body {	
	color: var(--dark-grayish-blue);
	background: rgb(238, 238, 238);
	font-family: 'Bai Jamjuree', sans-serif;
	margin: 0;
	text-align: center;
}



img {
	max-width: 100%;
}

p {
	color: var(--grayish-blue);
	line-height: 1.5;
}

.container {
	margin: 30px auto;
	max-width: 100%;

}



section {
	padding: 30px 0;
}

.flex {
	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
}

.flex > * {
	flex: 1;
	padding: 10px;
}

.m4 {
	margin: 100px auto;
}

/* FOOTER */

footer {
	background-color: rgb(131, 146, 140);
}

footer img {
	width: 80px;
}

footer ul {
	display: flex;
	flex-wrap:wrap;
	padding: 0;
	list-style-type: none;
}

footer .container {
	margin-bottom: 0;
}

footer ul a {
	color: var(--dark-grayish-blue);
	text-decoration: none;
}

footer .links {
	flex: 3;
}

footer .links li {
	padding: 10px;
	margin-right: 40px;
}

footer .social li {
	margin: 0 5px;
}

footer .social a {
	font-size: 30px;
	margin-right: 10px;
}

footer .social li :hover{
	
	color: rgb(66, 195, 228);
}


footer nav a{
	justify-content: space-between; 
    color: #000000;
    text-decoration: none;
	padding: 10px 30px;    
    line-height: normal;
    font-size: 20px;
    font-weight: lighter;
    -webkit-transition:all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

footer nav a:hover{
    background: #000000;
    border-radius: 50px;
    color: #ffffff;
}

/* FIN FOOTER */

@media (max-width: 768px) {
	.flex {
		flex-direction: column;
	}

	footer .links {
		flex-direction: column;
	}

	footer .links li {
		padding: 10px;
		margin-right: 0;
	}
}
